[user]
	name = Xartok
	email = lagache.yoann@gmail.com
[core]
	autocrlf = true
	excludesfile = /Users/xartok/.gitignore_global
[color]
	ui = true
[push]
	default = upstream
[credential]
	helper = osxkeychain
[alias]
	lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ar)%Creset'
	co = checkout
	br = branch
	st = status
	ci = commit
	oops = commit --amend --no-edit
[url "https://"]
	insteadOf = git://
[pull]
	rebase = preserve
